exportPattern("^[[:alpha:]]+")
S3method(Poppropanalysis, SI)
S3method(Poppropanalysis, FA)
S3method(Poppropanalysis, combined)
S3method(PopandIndprops, SI)
S3method(PopandIndprops, FA)
S3method(PopandIndprops, combined)
S3method(AnalysiswithCov, SI)
S3method(AnalysiswithCov, FA)
S3method(AnalysiswithCov, combined)
importFrom(robCompositions,aDist)
importFrom(compositions,alr)
importFrom(MCMCpack,rdirichlet)