exportPattern("^[^\\.]")
importFrom(robCompositions,aDist)
importFrom(compositions,alr)
importFrom(compositions,clo)
importFrom(MCMCpack,rdirichlet)
importFrom(reshape,melt.data.frame)
importFrom(grid,grid.segments)
importFrom(denstrip,panel.denstrip)
S3method(.Poppropanalysis, SI)
S3method(.Poppropanalysis, FA)
S3method(.Poppropanalysis, combined)
S3method(.PopandIndprops, SI)
S3method(.PopandIndprops, FA)
S3method(.PopandIndprops, combined)
S3method(.AnalysiswithCov, SI)
S3method(.AnalysiswithCov, FA)
S3method(.AnalysiswithCov, combined)
S3method(plot, pop_props)
S3method(plot, ind_props)
S3method(plot, cov_props)
S3method(summary, pop_props)
S3method(summary, ind_props)
S3method(summary, cov_props)
